

.BAS {
    background-color: white;
    border-style: double;
    width: 700px;
    height: 400px;
    display: flex; /* Optional, for content inside .BAS */
    justify-content: center; /* Optional, for internal horizontal alignment */
     /* Optional, for internal vertical alignment */
}
button
{
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    font-size: 15px;
}
