div
{
    margin-top: 20px;
    margin-left: 25%;
    background-color: lightgreen;
    width:50%;
    height:40%;
    border: 20px solid green;
    vertical-align: center;
    padding: 10px;;
}
label
{
    
    margin-left: 30%;
    font-size: 20px;
}
.group
{
margin: 10px;
}
div2
{
   align-items: center; 
}
button
{
    margin-left: 45%;
    width: 100px;
    height: 40px;
    background-color: darkgray;
}
p{
    text-align: center;
    font-size: 30px;
}
input
{
    width: 300px;
    height: 2em;

}
body
{
    background-color: lightgray;
}