.background {
    background-color: white;
    background-image: url("DSC02886.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.h1style{
    color:darkblue;
    font-size: 100px;
    text-align: center;
}
button
{
    width:150px;
    height: 60px;
    background-color: aqua;
    border-radius: 10px;
    font-size: 30px;
}
body
{
    background-color: lightgrey;
}