.footer-container {
  background-color: rgb(226, 143, 41); 
    color:black;
    text-align: center;
    padding: 20px;
    
  }
  
  .f1 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  a {
    color: yellow;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  