.header-container {
  text-align: center;
  background-color: orange;/* A light red background */
  color: rgb(18, 18, 18); /* White text color */
  padding: 20px; /* Adds space inside the container */
  width: auto;
  height: 250px;
}

.img1 {
  width: auto; /* Keeps the width proportional to the original image size */
  height: 250px; /* Fixes the height to 200px */
  float: left;
}
h1
{
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  ;
}
h2
{
  font-size: 40px;
}
h3
{
  font-size: 30px;
}
